In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('movie_statistic_dataset.csv')

In [3]:
df.shape

(4380, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4380 entries, 0 to 4379
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie_title           4380 non-null   object
 1   production_date       4380 non-null   object
 2   genres                4380 non-null   object
 3   runtime_minutes       4380 non-null   float64
 4   director_name         4380 non-null   object
 5   director_professions  4380 non-null   object
 6   director_birthYear    4380 non-null   object
 7   director_deathYear    4380 non-null   object
 8   movie_averageRating   4380 non-null   float64
 9   movie_numerOfVotes    4380 non-null   float64
 10  approval_Index        4380 non-null   float64
 11  Production budget $   4380 non-null   int64
 12  Domestic gross $      4380 non-null   int64
 13  Worldwide gross $     4380 non-null   int64
dtypes: float64(4), int64(3), object(7)
memory usage: 479.2+ KB

In [6]:
# this adds the total profit the movie made into a new column called total_gross
df['total_gross'] = df['Domestic gross $'] + df['Worldwide gross $']

In [7]:
df.head(25)

,movie_title,production_date,genres,runtime_minutes,director_name,director_professions,director_birthYear,director_deathYear,movie_averageRating,movie_numerOfVotes,approval_Index,Production budget $,Domestic gross $,Worldwide gross $,total_gross
0,Avatar: The Way of Water,2022-12-09,"Action,Adventure,Fantasy",192.0,James Cameron,"writer,producer,director",1954,alive,7.8,277543.0,7.061101,460000000,667830256,2265935552,2933765808
1,Avengers: Endgame,2019-04-23,"Action,Adventure,Drama",181.0,-,-,-,-,8.4,1143642.0,8.489533,400000000,858373000,2794731755,3653104755
2,Pirates of the Caribbean: On Stranger Tides,2011-05-20,"Action,Adventure,Fantasy",137.0,Rob Marshall,"director,miscellaneous,producer",1960,alive,6.6,533763.0,6.272064,379000000,241071802,1045713802,1286785604
3,Avengers: Age of Ultron,2015-04-22,"Action,Adventure,Sci-Fi",141.0,Joss Whedon,"writer,producer,director",1964,alive,7.3,870573.0,7.214013,365000000,459005868,1395316979,1854322847
4,Avengers: Infinity War,2018-04-25,"Action,Adventure,Sci-Fi",149.0,-,-,-,-,8.4,1091968.0,8.460958,300000000,678815482,2048359754,2727175236
5,Justice League,2017-11-13,"Action,Adventure,Fantasy",120.0,Zack Snyder,"director,producer,writer",1966,alive,6.1,456977.0,5.717212,300000000,229024295,655945209,884969504
6,Spectre,2015-10-06,"Action,Adventure,Thriller",148.0,Sam Mendes,"producer,director,miscellaneous",1965,alive,6.8,445461.0,6.375644,300000000,200074175,879077344,1079151519
7,Solo: A Star Wars Story,2018-05-23,"Action,Adventure,Sci-Fi",135.0,Ron Howard,"producer,actor,writer",1954,alive,6.9,352604.0,6.352668,275000000,213767512,393151347,606918859
8,John Carter,2012-03-07,"Action,Adventure,Sci-Fi",132.0,Andrew Stanton,"writer,actor,producer",1965,alive,6.6,275965.0,5.951728,263700000,73058679,282778100,355836779
9,Batman v Superman: Dawn of Justice,2016-03-23,"Action,Adventure,Sci-Fi",151.0,Zack Snyder,"director,producer,writer",1966,alive,6.4,704314.0,6.208569,263000000,330360194,872395091,1202755285
10,The Lion King,2019-07-11,"Adventure,Animation,Drama",118.0,Jon Favreau,"producer,actor,director",1966,alive,6.8,248695.0,6.084022,260000000,543638043,1647733638,2191371681
11,Tangled,2010-11-24,"Adventure,Animation,Comedy",100.0,-,-,-,-,7.7,459912.0,7.255014,260000000,200821936,583777242,784599178
12,Spider-Man 3,2007-05-04,"Action,Adventure,Sci-Fi",139.0,Sam Raimi,"producer,writer,director",1959,alive,6.3,597302.0,6.033111,258000000,336530303,894860230,1231390533
13,Captain America: Civil War,2016-04-22,"Action,Sci-Fi",147.0,-,-,-,-,7.8,795308.0,7.665261,250000000,408084349,1151899586,1559983935
14,Thor: Love and Thunder,2022-07-01,"Action,Adventure,Comedy",118.0,Taika Waititi,"producer,writer,actor",1975,alive,6.3,340924.0,5.773184,250000000,343256830,760928081,1104184911
15,Harry Potter and the Half-Blood Prince,2009-07-15,"Action,Adventure,Family",153.0,David Yates,"director,producer,writer",1963,alive,7.6,552559.0,7.261703,250000000,302089278,929411069,1231500347
16,The Hobbit: The Desolation of Smaug,2013-12-12,Fantasy,161.0,Peter Jackson,"producer,director,writer",1961,alive,7.8,670151.0,7.566997,250000000,258241522,959358436,1217599958
17,The Hobbit: The Battle of the Five Armies,2014-12-10,"Adventure,Fantasy",144.0,Peter Jackson,"producer,director,writer",1961,alive,7.4,539316.0,7.053929,250000000,255119788,940323039,1195442827
18,The Fate of the Furious,2017-04-07,"Action,Crime,Thriller",136.0,F. Gary Gray,"director,actor,producer",1969,alive,6.6,235554.0,5.874841,250000000,225764765,1236703796,1462468561
19,No Time to Die,2021-09-29,"Action,Adventure,Thriller",163.0,Cary Joji Fukunaga,"producer,director,writer",1977,alive,7.3,407964.0,6.806908,250000000,160891007,759959662,920850669
20,Avatar,2009-12-17,"Action,Adventure,Fantasy",162.0,James Cameron,"writer,producer,director",1954,alive,7.9,1316701.0,8.058261,237000000,785221649,2923706026,3708927675
21,Superman Returns,2006-06-28,"Action,Adventure,Sci-Fi",154.0,Bryan Singer,"producer,director,actor",1965,alive,6.1,285379.0,5.505907,232000000,200120000,391081192,591201192
22,The Dark Knight Rises,2012-07-19,"Action,Drama",164.0,Christopher Nolan,"writer,producer,director",1970,alive,8.4,1715219.0,8.740035,230000000,448139099,1082228107,1530367206
23,Pirates of the Caribbean: Dead Men Tell No Tales,2017-05-23,"Action,Adventure,Fantasy",129.0,-,-,-,-,6.5,317158.0,5.926088,230000000,172558876,794861794,967420670
24,Quantum of Solace,2008-11-14,"Action,Adventure,Mystery",106.0,Marc Forster,"producer,director,writer",1969,alive,6.6,453199.0,6.192611,230000000,169368427,591692078,761060505

In [8]:
df['total_total'] = df['total_gross'] - df['Production budget $']

# this is the important bit where we get our profitability index. we subtract the production budget 
# from the total_gross column we created before .

In [9]:
df['total_total']

0       2473765808
1       3253104755
2        907785604
3       1489322847
4       2427175236
           ...
4375      33698176
4376      20803012
4377       4620704
4378        765823
4379        -33252
Name: total_total, Length: 4380, dtype: int64

In [10]:
count_less_than_zero = (df['total_total'] < 0).sum()


print("Count of elements less than 0:", count_less_than_zero)

# this tells us that out of the 4380 movies , 742 of them failed to make a profit.

Count of elements less than 0: 742

In [11]:
df['profitable'] = (df['total_total'] >= 0).astype(int)

# here I am creating our important categorical column encoded with a 1 if the movie was profitable 
# and a 0 if the movie was not

In [12]:
df['profitable'].head(12
                     )

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
Name: profitable, dtype: int64

In [13]:
value_counts = df['profitable'].value_counts()

print(value_counts)

# checking to make sure the counts make sense with the numbers we saw before

profitable
1    3638
0     742
Name: count, dtype: int64

In [14]:
df.head() # so far so good

,movie_title,production_date,genres,runtime_minutes,director_name,director_professions,director_birthYear,director_deathYear,movie_averageRating,movie_numerOfVotes,approval_Index,Production budget $,Domestic gross $,Worldwide gross $,total_gross,total_total,profitable
0,Avatar: The Way of Water,2022-12-09,"Action,Adventure,Fantasy",192.0,James Cameron,"writer,producer,director",1954,alive,7.8,277543.0,7.061101,460000000,667830256,2265935552,2933765808,2473765808,1
1,Avengers: Endgame,2019-04-23,"Action,Adventure,Drama",181.0,-,-,-,-,8.4,1143642.0,8.489533,400000000,858373000,2794731755,3653104755,3253104755,1
2,Pirates of the Caribbean: On Stranger Tides,2011-05-20,"Action,Adventure,Fantasy",137.0,Rob Marshall,"director,miscellaneous,producer",1960,alive,6.6,533763.0,6.272064,379000000,241071802,1045713802,1286785604,907785604,1
3,Avengers: Age of Ultron,2015-04-22,"Action,Adventure,Sci-Fi",141.0,Joss Whedon,"writer,producer,director",1964,alive,7.3,870573.0,7.214013,365000000,459005868,1395316979,1854322847,1489322847,1
4,Avengers: Infinity War,2018-04-25,"Action,Adventure,Sci-Fi",149.0,-,-,-,-,8.4,1091968.0,8.460958,300000000,678815482,2048359754,2727175236,2427175236,1

In [15]:
# we have some NaN to take care of the 
df = df.replace('-', np.nan)

#df = df.replace('\N', np.nan, inplace = True)
df = df.replace('\\N', np.nan)

nan_counts = df.isna().sum()



print(nan_counts)

movie_title               0
production_date           0
genres                    2
runtime_minutes           0
director_name           326
director_professions    333
director_birthYear      888
director_deathYear      326
movie_averageRating       0
movie_numerOfVotes        0
approval_Index            0
Production budget $       0
Domestic gross $          0
Worldwide gross $         0
total_gross               0
total_total               0
profitable                0
dtype: int64

In [16]:

# they used - instead of NaN so have to convert first, the only column affected by NaN were interested in
# is director birth year, the rest of theNaN columns are not that useful and can be dropped. maybe keep director name
# if you wanted to do like a pivot table or aggregation. 
df.replace('-', np.nan, inplace=True)

df['director_birthYear'].replace('NaN', np.nan, inplace=True) 
df['director_birthYear'] = df['director_birthYear'].fillna(-1) 

# Converts to -1 as place holder then imputes the median
df['director_birthYear'] = df['director_birthYear'].astype(int)
df.replace(-1, df['director_birthYear'].median(), inplace=True)

In [17]:
# this drops the problem columns and gives us a df we can work with more easily
movie_df = df.drop(['director_professions', 'director_deathYear','director_name'], axis=1)

In [18]:
# this is the dataset to be working with for the project

movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4380 entries, 0 to 4379
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   movie_title          4380 non-null   object
 1   production_date      4380 non-null   object
 2   genres               4378 non-null   object
 3   runtime_minutes      4380 non-null   float64
 4   director_birthYear   4380 non-null   int64
 5   movie_averageRating  4380 non-null   float64
 6   movie_numerOfVotes   4380 non-null   float64
 7   approval_Index       4380 non-null   float64
 8   Production budget $  4380 non-null   int64
 9   Domestic gross $     4380 non-null   int64
 10  Worldwide gross $    4380 non-null   int64
 11  total_gross          4380 non-null   int64
 12  total_total          4380 non-null   int64
 13  profitable           4380 non-null   int64
dtypes: float64(4), int64(7), object(3)
memory usage: 479.2+ KB

In [19]:
#turned the production date into list of numbers so I can get month because month is something
# that can be controlled so I beleive it's worth checking out maybe time of year is a factor

movie_df['production_date'] = movie_df['production_date'].str.split('-')
movie_df ['month'] = movie_df['production_date'].str[1]
movie_df ['month'] = movie_df ['month'].astype(int)

,movie_title,production_date,genres,runtime_minutes,director_birthYear,movie_averageRating,movie_numerOfVotes,approval_Index,Production budget $,Domestic gross $,Worldwide gross $,total_gross,total_total,profitable,month
0,Avatar: The Way of Water,"[2022, 12, 09]","[Action, Adventure, Fantasy]",192.0,1954,7.8,277543.0,7.061101,460000000,667830256,2265935552,2933765808,2473765808,1,12
1,Avengers: Endgame,"[2019, 04, 23]","[Action, Adventure, Drama]",181.0,1954,8.4,1143642.0,8.489533,400000000,858373000,2794731755,3653104755,3253104755,1,4
2,Pirates of the Caribbean: On Stranger Tides,"[2011, 05, 20]","[Action, Adventure, Fantasy]",137.0,1960,6.6,533763.0,6.272064,379000000,241071802,1045713802,1286785604,907785604,1,5
3,Avengers: Age of Ultron,"[2015, 04, 22]","[Action, Adventure, Sci-Fi]",141.0,1964,7.3,870573.0,7.214013,365000000,459005868,1395316979,1854322847,1489322847,1,4
4,Avengers: Infinity War,"[2018, 04, 25]","[Action, Adventure, Sci-Fi]",149.0,1954,8.4,1091968.0,8.460958,300000000,678815482,2048359754,2727175236,2427175236,1,4

In [20]:
movie_df ['genres'] = movie_df['genres'].str.split(',')
movie_df ['genres'] = movie_df['genres'].dropna()

In [23]:
na_indices = df['genres'][df['genres'].isna()].index.tolist()
print(na_indices)

[1864, 2607]

In [24]:
columns = [col for col in movie_df.columns if col != 'profitable']
columns.append('profitable')
movie_df1 = movie_df[columns]

In [36]:
movie_df1

,movie_title,production_date,genres,runtime_minutes,director_birthYear,movie_averageRating,movie_numerOfVotes,approval_Index,Production budget $,Domestic gross $,Worldwide gross $,total_gross,total_total,month,profitable
0,Avatar: The Way of Water,"[2022, 12, 09]","[Action, Adventure, Fantasy]",192.0,1954,7.8,277543.0,7.061101,460000000,667830256,2265935552,2933765808,2473765808,12,1
1,Avengers: Endgame,"[2019, 04, 23]","[Action, Adventure, Drama]",181.0,1954,8.4,1143642.0,8.489533,400000000,858373000,2794731755,3653104755,3253104755,04,1
2,Pirates of the Caribbean: On Stranger Tides,"[2011, 05, 20]","[Action, Adventure, Fantasy]",137.0,1960,6.6,533763.0,6.272064,379000000,241071802,1045713802,1286785604,907785604,05,1
3,Avengers: Age of Ultron,"[2015, 04, 22]","[Action, Adventure, Sci-Fi]",141.0,1964,7.3,870573.0,7.214013,365000000,459005868,1395316979,1854322847,1489322847,04,1
4,Avengers: Infinity War,"[2018, 04, 25]","[Action, Adventure, Sci-Fi]",149.0,1954,8.4,1091968.0,8.460958,300000000,678815482,2048359754,2727175236,2427175236,04,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4375,Super Size Me,"[2004, 05, 07]",[Documentary],100.0,1970,7.2,110078.0,6.017902,65000,11529368,22233808,33763176,33698176,05,1
4376,The Brothers McMullen,"[1995, 08, 09]","[Comedy, Drama, Romance]",98.0,1968,6.6,7986.0,4.231464,50000,10426506,10426506,20853012,20803012,08,1
4377,Gabriela,"[2001, 03, 16]","[Drama, Romance]",93.0,1973,4.9,1593.0,2.526405,50000,2335352,2335352,4670704,4620704,03,1
4378,Tiny Furniture,"[2010, 11, 12]","[Comedy, Drama, Romance]",98.0,1986,6.2,14595.0,4.242085,50000,391674,424149,815823,765823,11,1
4379,Counting,"[2015, 07, 31]",[Documentary],111.0,1962,6.2,163.0,2.191765,50000,8374,8374,16748,-33252,07,0

In [35]:
# creating month column from yyyy,m,d format
movie_df1['month'] = movie_df1['production_date'].apply(lambda x: x[1] if len(x) > 1 else None)

In [74]:
ready_df = result_df.drop(['movie_title', 'production_date','genres','Domestic gross $','Worldwide gross $','total_gross','total_total'], axis=1)

In [59]:

from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
genres_encoded = mlb.fit_transform(movie_df1['genres'])
genres_df = pd.DataFrame(genres_encoded, columns=mlb.classes_)

result_df = pd.concat([movie_df1, genres_df], axis=1)

In [56]:
#trouble shooting some issues encoding the genres column
movie_df1['genres'] = movie_df1['genres'].apply(lambda x: x if isinstance(x, list) else (['Drama'] if pd.isna(x) else [x]))

# Check the entire column to ensure all entries are lists
print(movie_df1['genres'].apply(type).value_counts())

genres
<class 'list'>    4380
Name: count, dtype: int64

In [75]:
ready_df.to_csv('cleaned_movie_data.csv', index=False)